<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softalanta.wapi.registration">

    <application>
        <receiver android:name=".util.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.RegistrationActivity" />
        <activity android:name=".view.activity.VerificationActivity" />
        <activity
            android:name=".view.activity.CountryCodeActivity"
            android:label="@string/title_activity_country_code"
            android:parentActivityName=".view.activity.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.softalanta.wapi.registration.view.activity.RegistrationActivity" />
            <meta-data android:name="android.app.searchable"
                      android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>